body{
  background-color: rgb(255, 255, 255);
}
.navbar{
  display: block;

}
#img1{
  width: 100%;
  margin-top: 50px;
  height: 400px;
}
#welcome{
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
  font-size: 50px;
  text-decoration: underline;
  color:rgb(1, 1, 46);
  text-shadow:10px 10px 9px rgba(0, 0, 0, 0.5) ;
 
}

.myself{
  margin-top: 50px;
}



.mydiv{
  height: 400px;
  background-color: aqua;
  border: 10px groove black;
}

.mycard{
  border: 3px solid black;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-left: 7%;
  transform: rotateY(30deg);
  animation: rotation 1.5s alternate infinite;
  box-shadow: -10PX 10PX 10PX rgba(0, 0, 0, 0.5);
  width: 80%;
  border-radius: 20px;
  background-color: bisque;
}

@keyframes rotation {
  0%{
    transform: rotateY(0deg);
   
  }
  50%
  {
    transform: rotateY(10deg);
 
  }
  100%
  {
    transform: rotateY(20deg);
    
    
  }
}

.pin{
  display: block;
  font-size: 30px;
  text-align: center;
  color: red;
  text-shadow: 5px 4px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  transform: rotate(70deg);

}

.myimg{
  height: 150px;
  width:150px;
  border-radius: 75px ;
  border: black solid 3px;
  align-self:center;
  margin-top: 10px;
  margin-left: 30%;
  display: block;
}

#mytable{
  margin-top: 10px;
  margin-left: 15%;
 
  
  font-weight: bold;
}

#myname{
  margin-top: 10px;
  text-align: center;
}

.key{
  color:rgb(13, 4, 75)
}

.item{
  padding-left: 5px;

}

#intro{
  white-space:pre-line;
  word-wrap: normal;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media only screen and (max-width:1200px) {
  #img1
  {
    height: auto;
  }
  #welcome{
    font-size: 40px;
  }
}
